<h1>Edit Name</h1>

<%= render "form", blacklist: @blacklist %>

<br>

<div>
  <%# <%= link_to "Show this blacklist", @blacklist %>
  <%= button_to "Remove Name", @blacklist, method: :delete %>
  <%= link_to "Back to list", blacklists_path %>
</div>
