// Specific CSS for your home-page
.navbar-brand {
  text-decoration: solid;
  text-shadow: 10px;
  padding: 10px;
  text-align: center;
  width: fill;
  background-color: white;
}

.bosham {
  background-image: asset-url('official-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px;
}

.info-options {
  // text-align: center;
  justify-content: space-evenly;
  width: fill;
  display: flex;
  margin: 5px;
  padding: 5px;
}

.flowers {
  height: 350px;
  width: 350px;
  background-color: white;
}

.buttface {
  font-family: 'Cormorant Garamond', serif;
}

.body {
  color: white;
}

.chocolate {
  background-color: white;
  border-width: 10px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif, bold;
}

.trotski {
  align-content: center;
  width: fill;
  text-align: center;

}

.directions {
  text-align: center;
}
