<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="asparagus">
      <div class="awesome">
        <%= link_to "RSVP", classified_path, class: "btn btn-pink text-white text-uppercase rounded-pill fw-bold size-larger" %>
      </div>
    </div><br>

  <div class="information-block">
    <h2 class="surf"><strong>Local Highlights:</strong></h2>
    <h5 class="surf">If you're staying for the weekend, here are a few of our top picks in the local area:</h4><br>
    <h4 class="surfT"><strong>Bosham</strong></h4>
    <h5 class="surf">Bosham is a pretty village overlooking Chichester Harbour. There are a couple of nice pubs - The Anchor Bleu is our go-to and it's a stone's throw from the church. There is also Shoreside Cafe for tea and cake and on the outskirts of Bosham, you'll find The Crate Cafe - a breakfast and coffee spot.</h5><br>
    <h4 class="surfT"><strong>West Wittering</strong></h4>
    <h5 class="surf">West Wittering is a local highlight - it has a sweeping, beautiful pebble beach and if you drive to the very end of the carpark then, by foot, turn right and walk down the path next to the sand dunes, you will reach East Head. This is a quieter sandy beach, popular with the locals. It's important to note that West Wittering gets very busy, particularly on a sunny day, so it's essential to arrive early if you are driving, or you will get stuck in a long queue to enter the car park.</h5><br>
    <div class="hedge">
      <h5 class="surf"><em>If you are driving to West Wittering, please pay for your parking ticket online as there is an automated barrier at the entrance. Parking spots are not always assured so please register as soon as possible or park elsewhere.</em></h5>
    </div><br>
    <h4 class="surfT"><strong>The South Downs</strong></h4>
    <h5 class="surf">If you're looking to blow off the cobwebs, there are great walks in the area and the South Downs are on the doorstep. Kingly Vale is one of our favourites - walk through ancient yew trees, then climb up to the Devil's Humps for panoramic views of Chichester, Bosham and the harbour. </h5><br>
    <h4 class="surfT"> <strong> Chichester</strong></h4>
    <h5 class="surf">For a bit more buzz, the nearest city is Chichester which is a 15 minute drive from Bosham. It has lots of restaurants, shops, Pallant House Gallery and Chichester Cathedral.</h5><br>
  </div>
          <% wedding = Date.parse("2023-05-17") %>
          <% today = Date.today %>
          <% difference = (wedding - today).to_i %>
</body>
