<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="information-block">
  <div class="asparagus">
    <h4 class="surfT"><strong>Let us know if you will be joining us at our wedding - please RSVP by 31 March</strong></h4><br>
    </div><br>
    <div class="choice">
      <div class="asparagus">
        <div class="awesome1">
          <%= link_to "YES", answer_url, class: "btn btn-pink text-white text-uppercase rounded-pill fw-bold size-larger" %>
        </div>
        <div class="awesome1">
          <%= link_to "NO", unavailable_url, class: "btn btn-pink text-white text-uppercase rounded-pill fw-bold size-larger" %>
        </div>
      </div>
    </div><br>
          <% wedding = Date.parse("2023-05-17") %>
          <% today = Date.today %>
          <% difference = (wedding - today).to_i %>
</body>
