<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="asparagus">
      <div class="awesome">
        <%= link_to "RSVP", classified_path, class: "btn btn-pink text-white text-uppercase rounded-pill fw-bold size-larger" %>
      </div>
    </div><br>
          <% wedding = Date.parse("2023-05-17") %>
          <% today = Date.today %>
          <% difference = (wedding - today).to_i %>
  <div class="information-block">
    <h2 class="surf"><strong>Travel, Accomodation & Parking:</strong></h2><br>
    <h4 class="surfT">Travel:</h4>
    <h5 class="surf">The closest stations are Chichester, Havant, Bosham & Fishbourne. Trains to Chichester are most regular and from there it is a 15 minute drive to the Church. There is a taxi rank outside the main entrances of both Havant and Chichester Stations (switch to the other side of the track if you're arriving at Chichester from London). </h5><br>
   <h4 class="surfT">Taxis:</h4>
    <h5 class="surf">There are several taxi companies operating in the area, but cars are fairly limited. We'd recommend booking in advance where possible and we are also asking all guests to confirm where they will be staying on the evening of the wedding, so that we can help people heading in similar directions to share taxis at the end of the evening where possible. </h5><br>
    <div class="hedge">
      <h5 class="surf"><em>We will be providing transport from the church service to the reception at Furze Creek, so there is no need to order a taxi for this part of the day. If you intend to drive between the church and the reception, there is important information to be aware of - please see below.</em></h5>
    </div><br>
    <h4 class="surfT">Accomodation:</h4>
    <h5 class="surf">There are some hotels and B&Bs in Bosham, such as the Millstream or the Bosham Inn. For a wider range of options try Chichester, where there are a selection of hotels including a Travelodge and a Premier Inn.</h5><br>
    <h4 class="surfT">Parking:</h4>
    <h5 class="surf">If you are driving to the church, please use the Bosham car park, which is a couple of minutes walk from the church and clearly signposted. There is a small fee to park, but you can leave your car there overnight if needed.</h5><br>
      <h5 class="surf"><em>IMPORTANT: If you intend to park near or around the Bosham area before the service, please bear in mind that the coastal road around the harbour floods at high tide, so using the Bosham Car Park opposite the Bosham Walk store is essential. Although you may see some cars park on the road next to the water, we would strongly advise against doing so as the tide rises quickly and it's not uncommon for cars to become completely submerged. If you intend to use your car to drive to the reception after the service, please notify Olivia, Tom or Rachael so we can find a space for you in Smugglers Lane. If you do not let us know in advance, you are likey to find there is nowhere to park.</em></h4>
    </div>
  </div>
</body>
