<div id="<%= dom_id rsvp %>">
  <div class="book">
    <p class="cookies">
      <%# <strong>Name:</strong> %>
      <%= rsvp.name %>
    </p>

    <p class="cookies">
      <%# <strong>Food requirements or allergies:</strong> %>
      <%= rsvp.food_requests %>
    </p>

    <p class="cookies">
      <%# <strong>Accomodation:</strong> %>
      <%= rsvp.accomodation %>
    </p>
  </div>
</div>
