<div id="<%= dom_id rsvp %>">
  <div class="book">
    <p class="cookies">
      <%= rsvp.name %>
    </p>

    <p class="cookies">
      <%= rsvp.food_requests %>
    </p>

    <p class="cookies">
      <%= rsvp.accomodation %>
    </p>
  </div>
</div>
