<h1 class="buttface">Editing rsvp</h1>

<%= render "form", rsvp: @rsvp %>

<br>

<div>
  <%= link_to "Delete rsvp", @rsvp, method: :delete, class: "book" %>
  <%= link_to "Back to rsvps", rsvps_path, class: "book" %>
</div>
