<h1 class="surf">Editing rsvp</h1>

<%= render "form", rsvp: @rsvp %>

<br>

<div>
  <%= button_to "Delete rsvp", @rsvp, method: :delete, class: "surf" %>
  <%= link_to "Back to rsvps", rsvps_path, class: "surf" %>
</div>
<%# originally, the delete and back buttons were class: "book" %>
