

<div class="information-block">
<h1 class="surf">Editing RSVP</h1>

<%= render "form", rsvp: @rsvp %>

<br>

<div>
  <%= button_to "Delete RSVP", @rsvp, method: :delete, class: "gattle" %>
  <%= link_to "Back to main page", rsvps_path %>
</div>
<%# originally, the delete and back buttons were class: "book" %>
</div>
