

<div class="information-block">
<h1 class="surf">Editing RSVP</h1>

<%= render "form", rsvp: @rsvp %>

<br>

<div>
  <%= button_to "Delete RSVP", @rsvp, method: :delete, class: "btn btn-pink text-black text-uppercase rounded-pill fw-bold size-large" %>
  <%= link_to "Back to main page", rsvps_path, class: "btn btn-pink text-black text-uppercase rounded-pill fw-bold size-large" %>
</div>
<%# originally, the delete and back buttons were class: "book" %>
</div>
