

<div class="information-block">
<h1 class="surf">Editing RSVP</h1>

<%= render "form", rsvp: @rsvp %>

<br>

<div>
  <div class="surf"><%= button_to "Delete RSVP", @rsvp, method: :delete, class: "gattle" %></div>
  <div class="surf"><%= link_to "Back to main page", rsvps_path %></div>
</div>
<%# originally, the delete and back buttons were class: "book" %>
</div>
